<!DOCTYPE html>
<html>
<head>
    <title>Login - WeBlog App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Login and see what others are posting</h1>
        <!-- login form goes here -->
        <form method="POST" action="/login">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login">
        </form>
    </header>
</body>
</html>
